/*

OneTel Template

http://www.templatemo.com/tm-468-onetel

*/

body
	/* {
		background: #1a2631ea;
    color: #b7ccf3;
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  } */
  {
    color: #3a4660;
    /* background-color: #e4e0d7; */
    background-color: #ebdbcd;
    /* font-family: "Open Sans", Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em;
  }
.back-img-caption{
  background-color:rgba(10, 10, 10, 0.6);
  line-height: auto;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
.back-img-caption p, .back-img-caption h1, .back-img-caption h2, .back-img-caption h3, .back-img-caption h4,
.carousel-caption p, .carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4 {
  color: #ebdbcd;
  overflow-y: auto;
}
/* carousel */
  .carousel {
    /* height: 500px; */
    margin-bottom: auto;
    margin-top: 71px;
    background-color: #777;
  }
  .carousel .carousel-inner{
    height:inherit;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
    background-color:rgba(10, 10, 10, 0.6);
    line-height: auto;
    padding: 10px 25px 10px 25px;
    overflow-y: auto;
    vertical-align: middle;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: inherit;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    /* max-width: 100%; */
    height: inherit;
    box-shadow: 0px 3px 6px #48392b;
  }

  /* links */
/* a {
  color:rgb(108, 175, 233)
}
a:hover {
  color:rgb(68, 135, 194)
}
a:visited {
  color:rgb(192, 143, 204)
} */
/* Links */
a {
	color: #6b768d;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
  /* color:rgb(154, 68, 194) */
  color: #e7855f;
}
/* .test{
  display: none;
} */

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 10px; */
  }
  .carousel{
    height: 210px;
    margin-bottom: auto;
    margin-top: 71px;
    background-color: #777;
  }
  /* .carousel-caption p, .carousel-caption h1,.carousel-caption h2,.carousel-caption h3,.carousel-caption h4, .carousel-caption a{
    font-size: 100%;
  } */
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 10px; */
  }
  .carousel{
    height: 430px;
    margin-bottom: auto;
    margin-top: 71px;
    background-color: #777;
  }
  /* .carousel-caption p, .carousel-caption h1,.carousel-caption h2,.carousel-caption h3,.carousel-caption h4, .carousel-caption a{
    font-size: 110%;
  } */
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* font-size: 13px; */
  }
  .carousel{
    height: 500px;
    margin-bottom: auto;
    margin-top: 71px;
    background-color: #777;
  }
  /* test{
    display: none;
  } */
  /* .carousel-caption p, .carousel-caption h1,.carousel-caption h2,.carousel-caption h3,.carousel-caption h4, .carousel-caption a{
    font-size: 130%;
  } */
}
/* @media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  .carousel{
    height: 500px;
    margin-bottom: auto;
    margin-top: 71px;
    background-color: #777;
  }
} */
.mapouter {
  position: relative;
  /* text-align: right; */
  height: 200px;
  width: auto;
  margin-left: auto; 
  margin-right: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 100%;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
  font-size: 20px;
}
.update-block{
  min-height: 20px;
  /* margin-bottom: 20px; */
  background-color: #ece2d9;
  /* border: 1px solid #ad7b4f; */
  border-radius: 4px;
  max-width:100%;
  box-shadow: -1px 4px 1px rgba(0,0,0,0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.industry{
  /* text-align: center; */
    min-height: 20px;
    padding: 15px;
    max-width: 100%;
    margin: 15px 5px 15px 5px;
    background-color: #ece2d9;
    /* border: 1px solid #e8e8e8; */
    border-radius: 4px;
    box-shadow: -1px 4px 4px #9b6f48;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.trv{
  /* min-height: 20px; */
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ece2d9;
  /* border: 1px solid #e8e8e8; */
  border-radius: 4px;
  box-shadow: -1px 4px 1px #9b6f48;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 18px;
  text-shadow: 0px 0px 1px #6b768d;
  font-weight: bold;
}
.spclnk,
.trv a{
  color:inherit;
}
.spclnk:hover,
.trv a:hover{
  color:inherit;
  text-shadow: 7px 0px 5px #6b768d;
  /* font-weight:501; */
}
#cpstriviabanner .jumbotron{
  margin-top:61px;
  position: relative;
  box-shadow: 0px 3px 3px #3a4660;
  /* opacity:0.75; */
  background-color: #6b768d;
  min-width: 100%;
  color:#aad3f5;
}
#cpstriviabanner .jumbotron h1{
  font-size: 150px;
  text-shadow: 5px 5px 3px #6b768d, 17px 6px 1px #3a4660;
}
.img-cap{
  position: absolute;
  /* z-index: 10; */
  top: 60%;
  left: 20%;
  right:20%;
  opacity:0.75;
}
.topic-desc {
  /*font-size: 18px;
  */color: #ece2d9;
  background:#3a4660;
  border: 5px;
  /*box-shadow: #b7ccf3;
  */padding:13px;
  max-width: 100%;
  margin: auto;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  text-align: left;
}

.topic-desc p{
  /* font-size: 18px; */
  color: #ece2d9;
  text-align: justify;
}
.industry a,
.back-img-caption a,
.carousel-caption a,
.topic-desc a{
  color: #c197ce;
}
.industry a:hover,
.back-img-caption a:hover,
.carousel-caption a:hover,
.topic-desc a:hover{
  color: #e7855f;
}

.topic-desc h2{
  color: #ece2d9;
  text-align: centre;
  border-bottom: #dfc5af;
}
.topic-desc .header-content-container h2{
  /* border-bottom-style: solid; */
  border-bottom: groove thick #dfc5af;
  text-align: centre;
}

.topic-desc h2 a{
  color:inherit;
}

.topic-desc h2 a:hover{
  color: #e7855f;
  transition:0.5s ease-out;
  -webkit-transition:0.5s ease-out;
  -moz-transition:0.5s ease-out;
  -ms-transition:0.5s ease-out;
  -o-transition:0.5s ease-out;
}
.topic-desc .collapsed{
  transition:0.5s ease-out;
  -webkit-transition:0.5s ease-out;
  -moz-transition:0.5s ease-out;
  -ms-transition:0.5s ease-out;
  -o-transition:0.5s ease-out;
}
#topicLink{
  color: transparent;
  padding: 0px 2px 0px 2px;
  float: left;
  /* font-weight: bold; */
}
#topicLink:hover{
  color: #e7855f;
  transition:0.5s ease-out;
  -webkit-transition:0.5s ease-out;
  -moz-transition:0.5s ease-out;
  -ms-transition:0.5s ease-out;
  -o-transition:0.5s ease-out;
}


hr.divider-line {
  height: 10px;
  max-width: fit-content;
  border: 0;
  background-color: #3a4660;
	box-shadow: 0px 13px 4px 2px #f6f8f9 inset;
}

/* headers section */

/* h1,h2,h3,h4 {
  color: #fff;
  font-weight: bold;
}

h1,h2 {
  font-size: 30px;
} */

h1,h2,h3,h4,h5,h6 {
	padding-bottom: 10px;
	color: #3a4660;
	font-weight: 500;
	line-height: 1em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: inherit;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: #ece2d9;
  /* border: 2px solid #e7855f; */
  border-radius: 25px;
  color: #885104;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn:hover {
  background: #e7855f;
  border-color: transparent;
  box-shadow: 0 0 5px black;
}

.email {
	margin-top: 10px;
	padding: 8px 12px;
}

/* navigation */

/* element.style {
} */

.navbar-nav > li > a{
  background-color: #ece2d9;
  color: #885104;
  font-weight: 501;
  font-size: 16px;
  padding: 25px 10px 25px 10px;
}

.nav>.open>a, .nav>.open>a:focus, .nav>.open>a:hover, 
.nav > li > a:hover,
.nav > li > a:focus {
  border-top: ridge thick #3a4660;
  background-color: #ece2d9;
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}
.nav>.open>a, .nav>.open>a:active, .nav>.open>a:active, 
.nav > li > a:active,
.nav > li > a:active,
.nav>.open>a.active, .nav>.open>a.active, 
.nav > li > a.active,
.nav > li > a.active {
  background-color: #dfc5af;
  transition: 0.5s ease-out linear;
  -webkit-transition: 0.5s ease-out linear;
  -moz-transition: 0.5s ease-out linear;
  -ms-transition: 0.5s ease-out linear;
  -o-transition: 0.5s ease-out linear;
}

.navbar-fixed-top {
  	background: #ece2d9;
    margin-bottom: 20px; 
    color: #885104;
  /* padding: 0px 10px 0px 10px; */
  min-height: 70px;
  box-shadow: 1px 1px 9px 0px #42371c;
}

.active {
	background: rgb(85, 85, 85);
}
/* nav dropdown */
.navbar-nav > li > .dropdown-menu {
  background-color:  #ece2d9;
}
.navbar-nav > li > .dropdown-menu a{
  background-color: #ece2d9;
}

.navbar-nav > li > .dropdown-menu a:focus ,
.navbar-nav > li > .dropdown-menu a:hover{
  border-left-color: #885104;
  border-left: ridge;
  background-color: #ece2d9 ;
  transition: 0.5s ease-out linear;
  -webkit-transition: 0.5s ease-out linear;
  -moz-transition: 0.5s ease-out linear;
  -ms-transition: 0.5s ease-out linear;
  -o-transition: 0.5s ease-out linear;
}

.navbar-nav > li > .dropdown-menu a:active,
.navbar-nav > li > .dropdown-menu a.active{
  background-color: #dfc5af;
  /* border-left-color: #885104;
  border-left: ridge; */
}
/* .navbar-nav > li > .dropdown-menu a:hover {
  background-color: #dfc5af ;

} */
/* .navbar-nav > li > .dropdown-menu :active {
  background-color: #404040 ;
  border-bottom: #c14000;
} */

.banner-block {
  /* background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.3) 51%, rgba(255, 255, 255, 0.3) 76%), url(/images/cps/cps.png) !important; */
  /* background-image: url(/images/cps/cps.png); */
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
  margin-top: 51px;
  min-height: 300px;
}

.pagebanner{
  margin-top:60px;
}
#cpsrelbanner {
  /* background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.3) 51%, rgba(255, 255, 255, 0.3) 76%), url(/images/cps/cps.png) !important; */
  background-image: url(./images/cps/relall.png);
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
  margin-top: 51px;
  min-height: 300px;
}
#cpsverbanner {
  /* background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.3) 51%, rgba(255, 255, 255, 0.3) 76%), url(/images/cps/cps.png) !important; */
  background-image: url(./images/cps/Tool_Flow_figure.png);
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
  margin-top: 51px;
  min-height: 300px;
}
#cpssecbanner {
  /* background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.3) 51%, rgba(255, 255, 255, 0.3) 76%), url(/images/cps/cps.png) !important; */
  background-image: url(./images/cps/cpsSecurity.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
  margin-top: 51px;
  min-height: 300px;
}


/* home section */
#home {
/*   background: url('/images/home-bg.jpg') no-repeat; */
  background: url('../images/hpca6.jpg') no-repeat; 
  background-size: cover;
  background-position: center;
/*   max-width: 100%; */
  min-height: 100%; 
  min-height: 350px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#home_hpc {
/*   background: url('/images/home-bg.jpg') no-repeat; */
  background: url('../images/hpca7.jpg') no-repeat; 
  background-size: cover;
  background-position: center;
 /*  max-width: 1200%;  */
  min-height: 100%; 
  min-height: 350px;
  padding-top: 100px;
  padding-bottom: 100px;


}

#home_grid {
/* background: url('../images/home-bg.jpg') no-repeat; */
background: url('../grid/images/Grid.jpg') no-repeat;
background-size: cover;
background-position: center;
/* max-width: 1200%; */
min-height: 100%;
min-height: 350px;
padding-top: 100px;
padding-bottom: 100px;
}

#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}

/* divider section */
.divider {
  color: #ece2d9;
  text-align: center;
  max-width: 100%;
}
.divider .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}
.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}
.divider .divider-one {
  background: #ad7b4f;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 2px #885104;
}
.divider .divider-two {
  background: #6b768d;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 2px #885104;
}
/* .divider .divider-two {
  background: #e08562;
  color:#ece2d9 ;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 0 2px #885104;
} */
.divider-one h2,
.divider-two h2,
.divider-three h2
{
  color:#ece2d9 ;
}
/* .card {
  padding: 15px 10px 15px 10px;
} */

/* about section */
#about-header {
  background: url('../images/iit.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 160px;
}
#about {
  padding-top: 60px;
}
#about .container {
  background: #191919;
}
#about .col-md-6 {
  padding: 0;
  margin: 0;
}
#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
#about .btn {
  margin-top: 30px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 80px;
}
#team h2 {
  /* padding-bottom: 30px; */
  text-align: center;
}
/* #team h3 {
  padding-bottom: 10px;
} */
.team-wrapper {
  border: 2px solid #303030;
  padding: 10px;
  margin: 12px;
  min-height: 470px;
  min-width: auto;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.team-wrapper:hover,
.team-wrapper.hover{
  /* border: 0px solid #303030; */
  /* margin: 10px;
  padding: 12px; */
  box-shadow: 0 0 9px #3a4660;
  
}
.team-img {
  height: auto;
  width: auto;
}
#team h4 {
  /* color: #d54ab6; */
  /* color:#8b550a; */
}
#team .fa,
.ai{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 3px #885104;
  color: #3a4660;
  float: right;
  margin: 3px;
}
#team .fa:hover,
.ai:hover{
  box-shadow: 0 0 8px #885104;
  color: #e7855f;
}
#team img {
  /* opacity: 0.8; */
  height: auto;
  width: auto;
}
#team hr {
  border-color: #303030;
  margin-top: 80px;
  margin-bottom: 80px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}
#team .progress {
  border-radius: 0px;
  height: 4px;
}

/* portfolio section */
#portfolio-header {
  background: url('../images/hpc1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding-top: 160px;
}
#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  }
#portfolio h2 {
  padding-bottom: 20px;
}
#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
#portfolio img:hover {
  opacity: 1;
}
#portfolio .btn {
  margin-top: 30px;
}


#tools-header {
  background: url('../images/hpca7.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding-top: 160px;
}

/* contact section */
#contact-header {
  background: url('../images/ai_gpu.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  padding-top: 160px;
}
#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}
#contact h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#contact .industry a {
  /* color:inherit; */
  overflow-wrap: break-word;
}
#contact .form-control {
  background: #202020;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  transition: all 0.4s ease-in;
  color: #fff;
}
#contact .form-control:focus {
  background: #404040;
}
#contact input {
  height: 53px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
#map-canvas
  {
    border: none;
    width: 100%;
    height: 300px;
  }

/* footer section */
footer {
  background: #3a4660;
  padding-top: 40px;
  padding-bottom: 10px;
  /* color: #3a4660;*/
  color: #ebdbcd; 
  margin-top: 60px;
}
footer .fa {
	font-size: 18px;
	margin-right: 10px;
	padding: 5px;
}
footer h3 {
  padding-bottom: 10px;
}
footer .newsletter p {
  padding-bottom: 10px;
}
footer .form-control {
  background: transparent;
  border: 2px solid #ebdbcd;
  border-radius: 0px;
  padding-bottom: 10px;
}

footer .form-control:focus,
footer .form-control:hover {
	color: #ebdbcd;
  	background: #806040;
  	border-color: transparent;
}
footer .input-group-addon {
  background: #ebdbcd;
}
footer a, footer a:visited {
  font-size: 14px;
  color: rgb(173, 172, 172);
}
footer a:hover {
  color: #ebdbcd;
  text-decoration: none;
}

/* copyright section */
.copyright {
  padding-top: 6px;
  font-size: xx-small;
}
/* social icons section */
.social-icons {
  padding: 0px;
  margin: 0px;
}
.social-icons li {
  display: inline-block;
  list-style: none;
  background: #303030;
  margin: 10px 0px 0px 0px;
}
.social-icons li a {
  color: #ebdbcd;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.4s ease-in;
  
}
.social-icons li a:hover {
  background: #e7855f;
  color: #fff;
}

/* media 960 */
/* @media ( max-width: 980px ) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
  #contact h3 {
    padding-top: 20px;
  }
  #contact .btn {
    margin-bottom: 20px;
  }
  footer h3 {
    padding-top: 30px;
  }
} */
/* Inline Elements */
/* p {
	padding-bottom: 1em;
}

p:last-of-type {
	padding-bottom: 0;
}

p.et_normal_padding {
	padding-bottom: 1em;
}

strong {
	font-weight: bold;
}

cite,
em,
i {
	font-style: italic;
}

pre,
code {
	margin-bottom: 10px;
	font-family: Courier New, monospace;
}

ins {
	text-decoration: none;
}

sup,
sub {
	position: relative;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
}

sup {
	bottom: 0.8em;
}

sub {
	top: 0.3em;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

blockquote p {
	padding-bottom: 0;
}

embed,
iframe,
object,
video {
	max-width: 100%;
} */